.boardViewLeft {
    padding: 0 5px 0 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    border-right: 1px solid #101010;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.100);
}

.boardViewRight {
    padding: 10px;
    margin: 0;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.threadItem {
    background: #1d1d1d;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #151515;
    box-shadow: 0 0 3px #444444;
    word-wrap: break-word;
}
.threadItem * {
    width: 370px;
}
.threadItem input[type="checkbox"] {
    width: 10px;
    height: 10px;
}
.threadCreated {
    color: #dadbb1;
    font-style: italic;
    display: block;
    font-size: small;
    border-top: 1px dotted #dadbb1;
    margin: 2px 0 0 0;
    padding: 2px 0 0 0;
    width: 100%;
}
.threadItem:hover {
    box-shadow: 0 0 2px #000000;
}

.write {
    position: absolute;
    right: 0;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.playVideo {
    background: #111111;
    box-shadow: 0 0 2px #000000;
    display: table;
    padding: 0;
    margin: 2px 0;
}

.playVideo img {
    margin: 0;
    padding: 0;
}

.videoTitle {
    color: #dadbb1;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 0 0 3px #000000;
}

.playVideo iframe {
    min-height: 300px;
    min-width: 400px;
}

.prooflabel_yes, .prooflabel_no {
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
}

.prooflabel_yes {
    background: #00ff00;
}

.prooflabel_no {
    background: #ff0000;
}

img.openThread {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

ul.blotter {
    word-wrap: break-word;
    max-width: 500px;
    padding: 0;
    margin: 0 0 0 20px;
}